body {
    background-color: #40704a;
}

.jumbotron {
    background-image: url('Bacteria_Image.jpg');
    background-size: 100% 160%;
    color: #ffffff;
}

.description {
    color: #d6ffd8;
    font-size: 20px;
    padding: 60px;
}